* {
  box-sizing: border-box;
}

body {
  margin: 1rem auto;
  padding: 0;
  width: 75%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 1px solid #134FCC;
  border-radius: 5px;
}

header {
  background-color: #134FCC;
  color: white;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: column;
}

img {
  max-height: 100px;
}

p {
  padding: 0 1rem;
}

.aw-tk {
  font-size: smaller;
}

li {
  list-style-type: none;
  padding: 1rem 0;
  border: 1px solid #134FCC;
  border-radius: 5px;
  width: 30%;
  padding: 1rem;
  margin: 1rem 0;
}

a {
  text-decoration: none;
}

a:hover {
  color:#134FCC;
  font-weight: bold;
}